In [3]:
import numpy as np
import pandas as pd

In [16]:
bd_data = 'State_of_data_2022.csv'
valor_preenchimento = 0  # Substitua pelo valor que faça sentido para dados

dados = pd.read_csv(bd_data)
#dados = np.genfromtxt(bd_data, delimiter=',', filling_values=valor_preenchimento,skip_header=1, dtype=float, encoding='utf-8')
dados = dados.drop(dados.columns[0], axis=1) #retirei a coluna ID

# Lista de novos nomes de colunas
#novos_nomes = ['Nova_Coluna1', 'Nova_Coluna2', 'Nova_Coluna3', ...]  # Substitua pelos novos nomes desejados

# Atribuir os novos nomes de colunas ao DataFrame
#dados.columns = novos_nomes

print (dados)

      ('P1_a ', 'Idade') ('P1_a_1 ', 'Faixa idade') ('P1_b ', 'Genero')  \
0                   39.0                      35-39           Masculino
1                   32.0                      30-34           Masculino
2                   53.0                      50-54           Masculino
3                   27.0                      25-29           Masculino
4                   46.0                      45-49            Feminino
...                  ...                        ...                 ...
4266                26.0                      25-29           Masculino
4267                30.0                      30-34            Feminino
4268                29.0                      25-29           Masculino
4269                 NaN                      17-21           Masculino
4270                24.0                      22-24           Masculino

     ('P1_c ', 'Cor/raca/etnia') ('P1_d ', 'PCD')  \
0                          Parda              Não
1                          Parda              Não
2                         Branca              Não
3                         Branca              Não
4                         Branca              Não
...                          ...              ...
4266                      Branca              Não
4267                      Branca              Não
4268                      Branca              Não
4269                      Branca              Não
4270                      Branca              Não

      ('P1_e ', 'experiencia_profissional_prejudicada')  \
0     Não acredito que minha experiência profissiona...
1     Sim, acredito que a minha a experiência profis...
2                                                   NaN
3                                                   NaN
4     Não acredito que minha experiência profissiona...
...                                                 ...
4266                                                NaN
4267  Não acredito que minha experiência profissiona...
4268                                                NaN
4269                                                NaN
4270                                                NaN

                ('P1_f ', 'aspectos_prejudicados')  \
0                                              NaN
1     Aprovação em processos seletivos/entrevistas
2                                              NaN
3                                              NaN
4                                              NaN
...                                            ...
4266                                           NaN
4267                                           NaN
4268                                           NaN
4269                                           NaN
4270                                           NaN

      ('P1_g ', 'vive_no_brasil') ('P1_i ', 'Estado onde mora')  \
0                            True         Distrito Federal (DF)
1                            True                     Pará (PA)
2                            True         Distrito Federal (DF)
3                            True             Minas Gerais (MG)
4                            True                     Pará (PA)
...                           ...                           ...
4266                         True                São Paulo (SP)
4267                         True             Minas Gerais (MG)
4268                         True                São Paulo (SP)
4269                         True                São Paulo (SP)
4270                         True                    Goiás (GO)

     ('P1_i_1 ', 'uf onde mora') ('P1_i_2 ', 'Regiao onde mora')  \
0                             DF                    Centro-oeste
1                             PA                           Norte
2                             DF                    Centro-oeste
3                             MG                         Sudeste
4                             PA                           Norte
...                          ...                             ...
4266                          SP                         Sudeste
4267                          MG                         Sudeste
4268                          SP                         Sudeste
4269                          SP                         Sudeste
4270                          GO                    Centro-oeste

     ('P1_j ', 'Mudou de Estado?') ('P1_k ', 'Regiao de origem')  \
0                            False                       Sudeste
1                             True                           NaN
2                            False                           Sul
3                             True                           NaN
4                             True                           NaN
...                            ...                           ...
4266                          True                           NaN
4267                          True                           NaN
4268                         False                      Nordeste
4269                          True                           NaN
4270                         False                      Nordeste

     ('P1_l ', 'Nivel de Ensino')  \
0                   Pós-graduação
1           Graduação/Bacharelado
2                   Pós-graduação
3                Doutorado ou Phd
4                   Pós-graduação
...                           ...
4266        Graduação/Bacharelado
4267                     Mestrado
4268                     Mestrado
4269   Não tenho graduação formal
4270        Graduação/Bacharelado

                          ('P1_m ', 'Área de Formação')  \
0     Computação / Engenharia de Software / Sistemas...
1                                    Outras Engenharias
2     Computação / Engenharia de Software / Sistemas...
3     Estatística/ Matemática / Matemática Computaci...
4     Computação / Engenharia de Software / Sistemas...
...                                                 ...
4266  Computação / Engenharia de Software / Sistemas...
4267                                 Outras Engenharias
4268                                 Outras Engenharias
4269                                                NaN
4270  Computação / Engenharia de Software / Sistemas...

     ('P2_a ', 'Qual sua situação atual de trabalho?')  \
0                                     Servidor Público
1                                      Empregado (CLT)
2                                      Empregado (CLT)
3                                      Empregado (CLT)
4                                     Servidor Público
...                                                ...
4266                                   Empregado (CLT)
4267                                   Empregado (CLT)
4268                  Empreendedor ou Empregado (CNPJ)
4269                                        Estagiário
4270                                   Empregado (CLT)

                       ('P2_b ', 'Setor') ('P2_c ', 'Numero de Funcionarios')  \
0                           Setor Público                      Acima de 3.000
1                             Outra Opção                      Acima de 3.000
2                      Finanças ou Bancos                      Acima de 3.000
3                        Setor Automotivo                      Acima de 3.000
4                           Setor Público                        de 101 a 500
...                                   ...                                 ...
4266       Tecnologia/Fábrica de Software                      Acima de 3.000
4267                  Área de Consultoria                         de 51 a 100
4268  Setor Imobiliário/ Construção Civil                        de 101 a 500
4269                            Indústria                    de 1.001 a 3.000
4270                         Agronegócios                      de 501 a 1.000

     ('P2_d ', 'Gestor?') ('P2_e ', 'Cargo como Gestor')  \
0                   False                            NaN
1                    True         Supervisor/Coordenador
2                   False                            NaN
3                   False                            NaN
4                   False                            NaN
...                   ...                            ...
4266                False                            NaN
4267                False                            NaN
4268                 True                   Gerente/Head
4269                False                            NaN
4270                False                            NaN

                               ('P2_f ', 'Cargo Atual') ('P2_g ', 'Nivel')  \
0                   DBA/Administrador de Banco de Dados             Júnior
1                                                   NaN                NaN
2     Desenvolvedor/ Engenheiro de Software/ Analist...              Pleno
3                     Cientista de Dados/Data Scientist             Sênior
4     Desenvolvedor/ Engenheiro de Software/ Analist...              Pleno
...                                                 ...                ...
4266                     Analista de Dados/Data Analyst              Pleno
4267  Engenheiro de Dados/Arquiteto de Dados/Data En...              Pleno
4268                                                NaN                NaN
4269                                        Outra Opção             Júnior
4270                     Analista de Dados/Data Analyst             Júnior

           ('P2_h ', 'Faixa salarial')  \
0      de R$ 8.001/mês a R$ 12.000/mês
1       de R$ 4.001/mês a R$ 6.000/mês
2     de R$ 12.001/mês a R$ 16.000/mês
3     de R$ 12.001/mês a R$ 16.000/mês
4       de R$ 6.001/mês a R$ 8.000/mês
...                                ...
4266    de R$ 4.001/mês a R$ 6.000/mês
4267    de R$ 3.001/mês a R$ 4.000/mês
4268  de R$ 16.001/mês a R$ 20.000/mês
4269             Menos de R$ 1.000/mês
4270    de R$ 3.001/mês a R$ 4.000/mês

     ('P2_i ', 'Quanto tempo de experiência na área de dados você tem?')  \
0                                         de 1 a 2 anos
1                                         de 3 a 4 anos
2                                         de 3 a 4 anos
3                                         de 4 a 6 anos
4                Não tenho experiência na área de dados
...                                                 ...
4266                                      de 3 a 4 anos
4267                                      de 1 a 2 anos
4268                                      de 4 a 6 anos
4269                                     Menos de 1 ano
4270                                      de 1 a 2 anos

     ('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?')  \
0                                        de 7 a 10 anos
1                                        Menos de 1 ano
2                                       Mais de 10 anos
3     Não tive experiência na área de TI/Engenharia ...
4                                       Mais de 10 anos
...                                                 ...
4266                                     de 7 a 10 anos
4267  Não tive experiência na área de TI/Engenharia ...
4268  Não tive experiência na área de TI/Engenharia ...
4269  Não tive experiência na área de TI/Engenharia ...
4270  Não tive experiência na área de TI/Engenharia ...

     ('P2_k ', 'Você está satisfeito na sua empresa atual?')  \
0                                                  True
1                                                 False
2                                                 False
3                                                  True
4                                                 False
...                                                 ...
4266                                               True
4267                                               True
4268                                               True
4269                                               True
4270                                              False

     ('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?')  \
0                                                   NaN
1     Falta de oportunidade de crescimento no empreg...
2     Falta de oportunidade de crescimento no empreg...
3                                                   NaN
4     Falta de oportunidade de crescimento no empreg...
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270  Salário atual não corresponde ao mercado, Falt...

      ('P2_l_1 ', 'Falta de oportunidade de crescimento no emprego atual')  \
0                                                   NaN
1                                                   1.0
2                                                   1.0
3                                                   NaN
4                                                   1.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                1.0

      ('P2_l_2 ', 'Salário atual não corresponde ao mercado')  \
0                                                   NaN
1                                                   0.0
2                                                   0.0
3                                                   NaN
4                                                   0.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                1.0

      ('P2_l_3 ', 'Não tenho uma boa relação com meu líder/gestor')  \
0                                                   NaN
1                                                   0.0
2                                                   0.0
3                                                   NaN
4                                                   0.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                0.0

      ('P2_l_4 ', 'Gostaria de trabalhar em em outra área de atuação')  \
0                                                   NaN
1                                                   0.0
2                                                   0.0
3                                                   NaN
4                                                   0.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                1.0

      ('P2_l_5 ', 'Gostaria de receber mais benefícios')  \
0                                                   NaN
1                                                   0.0
2                                                   0.0
3                                                   NaN
4                                                   0.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                0.0

      ('P2_l_6 ', 'O clima de trabalho/ambiente não é bom')  \
0                                                   NaN
1                                                   0.0
2                                                   0.0
3                                                   NaN
4                                                   1.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                0.0

      ('P2_l_7 ', 'Falta de maturidade analítica na empresa')  \
0                                                   NaN
1                                                   0.0
2                                                   0.0
3                                                   NaN
4                                                   1.0
...                                                 ...
4266                                                NaN
4267                                                NaN
4268                                                NaN
4269                                                NaN
4270                                                0.0

     ('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?')  \
0     Não participei de entrevistas de emprego/proce...
1             Sim, fiz entrevistas mas não fui aprovado
2     Não participei de entrevistas de emprego/proce...
3                  Sim, fui aprovado e mudei de emprego
4     Não participei de entrevistas de emprego/proce...
...                                                 ...
4266               Sim, fui aprovado e mudei de emprego
4267  Não participei de entrevistas de emprego/proce...
4268  Sim, fui aprovado mas decidi não mudar de emprego
4269  Não participei de entrevistas de emprego/proce...
4270          Sim, fiz entrevistas mas não fui aprovado

     ('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?')  \
0     Não estou buscando e não pretendo mudar de emp...
1     Estou em busca de oportunidades dentro ou fora...
2     Não estou buscando, mas me considero aberto a ...
3     Não estou buscando, mas me considero aberto a ...
4     Não estou buscando, mas me considero aberto a ...
...                                                 ...
4266  Não estou buscando e não pretendo mudar de emp...
4267  Não estou buscando e não pretendo mudar de emp...
4268  Não estou buscando, mas me considero aberto a ...
4269  Estou em busca de oportunidades dentro ou fora...
4270  Estou em busca de oportunidades dentro ou fora...

     ('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?')  \
0                                            Benefícios
1     Remuneração/Salário, Plano de carreira e oport...
2     Remuneração/Salário, Flexibilidade de trabalho...
3     Remuneração/Salário, Flexibilidade de trabalho...
4     Remuneração/Salário, Oportunidade de aprendiza...
...                                                 ...
4266  Remuneração/Salário, Benefícios, Flexibilidade...
4267  Ambiente e clima de trabalho, Plano de carreir...
4268  Remuneração/Salário, Ambiente e clima de traba...
4269  Oportunidade de aprendizado e trabalhar com re...
4270  Remuneração/Salário, Oportunidade de aprendiza...

      ('P2_o_1 ', 'Remuneração/Salário')  ('P2_o_2 ', 'Benefícios')  \
0                                    0.0                        1.0
1                                    1.0                        0.0
2                                    1.0                        0.0
3                                    1.0                        0.0

In [ ]:
#Quanha mais que 6k é feliz?